%h2=t :your_items
- if (@items.empty?)
  %h3=t(:you_dont_have_items)
- else
  - @items.each do |item|
    =render :partial => 'items/item', :locals => {:item => item}
%br/
= link_to t(:new_item), new_dashboard_item_url